<strong>Recuperação de Senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o email ({{ email }})</p>

<p>Token de recuperação de senha: {{ token }}</p>

<a href="{{ link }}">Clique aqui para recuperar sua senha.</a>